<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>meent-starter</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%-include("partials/header.ejs") %> <% months = [ "jan", "feb", "mar",
    "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec" ] %> <%
    joinedAt = new Date(currentUser.createdAt) %>
  <main class="w-full h-screen relative">
    <% if (locals.authUser && !authUser.emailVerified) { %>
    <div id="verify-email-toast" class="p-1 ring-1 rounded ring-yellow-500 bg-yellow-300 text-yellow-900 flex gap-4 fixed top-20 items-center right-2">
      <p class="ml-2">
        Your email is not verified
      </p>
      <button id="verify-email" class="bg-blue-500 text-white p-3 rounded">
        Send verification email
      </button>
    </div>
    <% } %>
    <div class="w-full z-0 grid place-items-center pt-[3rem]">
      <div class="flex items-center mt-5 gap-5 pt-[5rem]">
        <img src="<%=utils.toDataUri(currentUser.profile) %>" class="w-[4rem] h-[4rem] rounded-full" alt="profile" />
        <div>
          <p><%=currentUser.name %></p>
          <p>@<%=currentUser.username %></p>
          <p>
            Joined at <%=joinedAt.getDate() %> <%=months[joinedAt.getMonth()]
              %> <%=joinedAt.getFullYear() %>
          </p>
        </div>
      </div>
    </div>
  </main>

  <script type="module" src="/src/verifyEmail.js"></script>
</body>

</html>